# PostgreSQL
PG_HOST=postgres
PG_PORT=5432
PG_USER=market
PG_PASSWORD=mfpass
PG_DB=marketflow
PG_SSLMODE=disable

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Exchanges
EXCHANGE1_ADDR=exchange1:40101
EXCHANGE2_ADDR=exchange2:40102
EXCHANGE3_ADDR=exchange3:40103

# API
API_ADDR=:8080

# Aggregator
AGGREGATOR_WINDOW=1m

# Redis TTL
REDIS_TTL=24h